.container {
  padding: 20px;
  font-family: Inter;
}

.template {
  text-align: start;
  margin: 20px 0;
}

.template-info {
  height: 200px;
  background-color: #f3f3f3;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  align-self: stretch;
}

.form-group {
  margin: 10px 0;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

input[type='text'],
input[type='number'],
textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.network-config {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

button {
  padding: 10px 15px;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.form-group {
  display: flex;
  align-items: center;
}

.toggle-switch {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 20px;
  margin-right: 10px;
}

.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.switch:before {
  position: absolute;
  content: '';
  height: 14px;
  width: 14px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .switch {
  background-color: #2196f3;
}

input:checked + .switch:before {
  transform: translateX(14px);
}

.domain-input {
  display: flex;
  align-items: center;
  background-color: #f0f0f0;
  padding: 5px;
  border-radius: 4px;
}

.domain-input select {
  margin-right: 5px;
  border: none;
  background: transparent;
  font-size: 14px;
}

.domain-input input {
  border: none;
  background: transparent;
  font-size: 14px;
  width: 200px; /* Adjust as needed */
}

button {
  margin-left: 10px;
  cursor: pointer;
}

.top-left-container {
  display: flex;
  justify-content: space-between;
  width: 400px;
}
